* {
    margin: 0px;
    padding: 0px;
    font-family: 'Jost', sans-serif;
    color: rgb(40, 40, 40);
    background-color: rgb(243, 243, 243);
}

/* font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto', sans-serif; 
font-family: 'Jost', sans-serif; */

h1 {
    font-weight: 400;
}

h2 {
    font-size: 32px;
    font-weight: 500;
}

h3 {
    font-weight: 300;
}

h4 {
    font-weight: 300;
}

h5 {
    font-size: 16px;
    font-weight: 400;
}